.board-scroll-y::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgb(229, 231, 235);
  margin: 0px 20px;
}

.board-scroll-y::-webkit-scrollbar {
  height: 20px;
  background-color: rgb(229, 231, 235);
  margin: 0px 20px;
}

.board-scroll-y::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #555;
  margin: 0px 20px;
}

.board-scroll-x::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: rgba(170, 170, 170);
  margin: 20px 0px;
}

.board-scroll-x::-webkit-scrollbar {
  width: 20px;
  background-color: rgba(229, 231, 235, 0);
  margin: 20px 0px;
}

.board-scroll-x::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  margin: 20px 0px;
}

.hidden_scroll-y::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #050a11;
}

.hidden_scroll-y::-webkit-scrollbar {
  width: 0px;
  background-color: #050a11;
}

.hidden_scroll-y::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: gray;
}

.scroll-y::-webkit-scrollbar-track {
  border-radius: 3px;
}

.scroll-y::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
}

.scroll-y::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: gray;
  border-radius: 3px;
}

.heartbeat-outline {
  outline-width: 6px;
  outline-offset: 0;
  outline-color: rgba(0, 150, 170, 0.75);
  outline-style: solid;
  animation: animateOutline 3s ease infinite;
}

@keyframes animateOutline {
  0% {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: rgba(0, 150, 170, 0);
  }

  10% {
    outline-color: rgba(0, 150, 170, 0.75);
  }

  50% {
    outline-width: 8px;
    outline-offset: 4px;
    outline-color: rgba(0, 150, 170, 0);
  }

  100% {
    outline-width: 8px;
    outline-offset: 4px;
    outline-color: rgba(102, 102, 102, 0);
  }
}

.color-fill {
  fill: rgb(255, 0, 0);
  animation: rgb-shift 20s infinite;
}

@keyframes rgb-shift {
  0% {
    fill: rgb(255, 0, 0);
  }
  14% {
    fill: rgb(255, 125, 0);
  }
  28% {
    fill: rgb(255, 255, 0);
  }
  42% {
    fill: rgb(0, 255, 0);
  }
  57% {
    fill: rgb(0, 255, 255);
  }
  71% {
    fill: rgb(0, 0, 255);
  }
  85% {
    fill: rgb(255, 0, 255);
  }
  100% {
    fill: rgb(255, 0, 0);
  }
}
