.board-scroll-y::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgb(229, 231, 235);
  margin: 0px 20px;
}

.board-scroll-y::-webkit-scrollbar {
  height: 20px;
  background-color: rgb(229, 231, 235);
  margin: 0px 20px;
}

.board-scroll-y::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  margin: 0px 20px;
}

.hidden_scroll-y::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #050a11;
}

.hidden_scroll-y::-webkit-scrollbar {
  width: 0px;
  background-color: #050a11;
}

.hidden_scroll-y::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: gray;
}

.scroll-y::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* background-color: #050a11; */
  border-radius: 3px;
}

.scroll-y::-webkit-scrollbar {
  width: 10px;
  /* background-color: #050a11; */
  border-radius: 3px;
}

.scroll-y::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: gray;
  border-radius: 3px;
}
